.navbar a {
  color: white;
}
.nav li a:hover {
  background: orange;
}

.navbar-custom {
  position: absolute;
  top: 0;
  width: 100%;
}

.navbar-header a {
  font-size: 25px;
}

header {
  height: 300px;
  padding: 50px 100px;
  color: wheat;
}

header h1 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#post {
  border-bottom: 1px solid black;
}

#post h1 {
  font-weight: bold;
}

#post h1 a {
  color: yellow;
  text-decoration: none;
}

#post h1 a:hover {
  color: black;
  text-decoration: none;
}

.down-btn {
  padding: 50px 0;
}

.btn {
  border-radius: 0;
}

.btn.btn-default:hover {
  background: red;
}

.nav-mycenter {
  float: none;
  display: table;
  table-layout: fixed;
  margin: 0 auto;
}

.nav-mycenter li a:hover {
  background: white;
}

.m-col {
  column-gap: 1.5rem;
  -webkit-column-gap: 1.5rem;
  column-count: 3;
}
